/ClintChancellor_InventorySystem/nbproject/private/
/Inventory_Manager/nbproject/private/
/Inventory_Manager/build/
/Inventory_Manager/dist/
/InventoryManager_ClintChancellor/nbproject/private/
/InventoryManager_ClintChancellor/build/
/InventoryManager_ClintChancellor/dist/